* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  header {
    padding-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #fff;
  }
  @media (max-width: 1203px) { 
      header{
          opacity: 0;
      }
   }
  .navbar {
    position: fixed;
    width: 100% ;
    z-index: 1;
    margin-top: 45px;
    overflow: hidden;
    background: #8f9093;
  }
  @media (max-width: 768px) { 
    .navbar{
      background: transparent !important;
      margin-top: 0 !important;
      z-index: 9;
    }
    .navbar-collapse {
      background: #373636;
    }
    .navbar-toggler {
    background-color: #e5e5e5;
    }
  }
  .navbar-brand img {
    width: 160px;
    height: 65px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 20px;
    color: #fff;
    margin-left: 40px;
    padding: 5px 10px;
  }
  .navbar-expand-md .navbar-nav .nav-link:hover {
    background: #fff;
    padding: 5px 10px;
    color: #f04336;
  }
  .nav-right h6 {
    padding-left: 30px;
    font-size: 20px;
    color: #fff;
  }
  @media (max-width: 1080px) { 
    .nav-right{
      opacity: 0;
    }
   }

.banner h1 {
    color: #fff;
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
}
#Products {
    padding-top: 200px;
  }
  .product {
    padding-top: 60px;
  }
  .product p {
    color: #f04336;
    font-size: 25px;
  }
  .card {
    position: relative;
  }
  .text-icon {
    opacity: 0;
  }
  .text-icon:hover {
    opacity: 1;
    transition: 1s;
  }
  .text-icon h4 {
    position: absolute;
    top: 30%;
    left: 23%;
    background: #f04336;
    padding: 10px 15px;
    color: #fff;
  }
  .text-icon .card-icon {
    position: absolute;
    bottom: 33%;
    left: 30%;
  }
  .card-icon i {
    font-size: 20px;
    margin-left: 20px;
    padding: 6px;
    color: #f04336;
  }
  .card-icon i:hover {
    background-color: #f04336;
    padding: 6px;
    color: #fff;
  }
  .text-icon h4:hover {
    opacity: 1;
    transition: 1s;
  }
  .card {
    --bs-card-bg: transparent;
    border: none;
  }
  .card-body h5 {
    font-size: 30px;
    font-weight: 600;
  }
  .card-body{
    text-align: center;
  }
  #footer {
    padding-top: 100px;
  }
  .footer-main p {
    color: #8f9093;
    font-size: 17px;
    letter-spacing: 1px;
  }
  .footer-main h4 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }
  .footer-left p {
    padding-top: 30px;
  }
  .footer-icon {
    padding-top: 30px;
  }
  .footer-icon i {
    font-size: 20px;
    padding-left: 20px;
    color: #f04336;
  }
  .footer-icon i:first-child {
    padding-left: 0;
  }
  .footer-icon i:hover {
    cursor: pointer;
  }
  .footer-mid p {
    padding-top: 15px;
  }
  .footer-mid p:hover {
    color: #f04336;
    cursor: pointer;
  }
  .footer-bottom {
    margin-top: 100px;
    background: #f8f8f8;
    padding: 40px 0;
    text-align: center;
  }
  .footer-text p {
    color: #8f9093;
    font-size: 18px;
    letter-spacing: 1px;
    padding-right: 5px;
  }
  
